<div class="form-group">
  <%= f.label :name, "Team Name (required)" %>
  <%= f.text_field :name, placeholder: "The Slashrockets", class: "form-control", required: true %>
</div>
<div class="form-group">
  <%= f.label :description, "Project Description (optional)" %>
  <%= f.text_area :description, placeholder: "I want to build the best note taking app the world has ever seen!", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :used, "Tech Used (optional)" %>
  <%= f.text_area :used, placeholder: "Ruby, Rails, Python, Javascript, CSS3", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :location, "Location (optional)" %>
  <%= f.text_area :location, placeholder: "Princeton, NJ, USA", class: "form-control" %>
</div>