<% if team.owner_id and team.team_members.count > 0 %>
<div class="col-md-6 col-md-offset-3">
  <div id="team_<%= team.id %>" class="team">
    <div class="panel panel-default">
      <div class="panel-heading" align="left">
        <h3 style="margin-top: 5px;margin-bottom: 5px;padding-left:10px;"><b style="text-decoration: underline"><%= link_to team.name, user_team_path(team) %></b></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <%= link_to user_team_path(team) do %><%= image_tag "launch2015.png", width: "100px", height: "100px", style: 'border-radius: 50px;background-color: #ccc;' %><% end %>
          </div>
          <div class="col-sm-9" style="border-left: 1px solid #ccc;">
            <h4>About this team: <br/><em><%= team.description %></em></h4>
            <hr/>
            <small>The team is using: <br/><i><%= team.used %></i></small>
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>