<h1 align="center">Create your coding dream team</h1>
<hr/>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Tips and Tricks</h3>
        <hr/>
        <ul>
          <li>You need a team, even if it will only be yourself coding.</li>
          <li>Keep the name short and easy to remember.</li>
          <li>Your team name will become your hackathon page url.</li>
          <li>The more optional info you provide, the better your chances of finding fellow coders to join your team</li>
          <li>You can change your description and other optional items later, but not your team name.</li>
          <li>Have fun, not all code launches take off, but they should all be a blast!</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= form_for @team do |f| %>
      <div class="form-group">
        <%= f.label :name, "Team Name (required)" %>
        <%= f.text_field :name, placeholder: "The Slashrockets", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :description, "Project Description (optional)" %>
        <%= f.text_area :description, placeholder: "I want to build the best note taking app the world has ever seen!", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :used, "Tech Used (optional)" %>
        <%= f.text_area :used, placeholder: "Ruby, Rails, Python, Javascript, CSS3", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :location, "Location (optional)" %>
        <%= f.text_area :location, placeholder: "Princeton, NJ, USA", class: "form-control" %>
      </div>
      <hr/>
      <%= f.submit "Create your team", class: 'btn btn-lg btn-primary btn-block' %>
    <% end %>
  </div>
</div>