<div class="col-md-4 col-md-offset-4">
  <%= form_for(entry) do |f| %>
    <% if entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being submitted:</h2>

        <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if current_user.team_id.nil? %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, required: true, class: "form-control" %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :about %>
      <%= f.text_area :about, required: true, class: "form-control" %>
    </div>
    <%= f.submit "Submit", required: true, class: "btn btn-primary" %>
  <% end %>
</div>
