<div class="col-md-8 col-md-offset-2">
  <h1 class="title"><%= @entry.name %></h1>
  <a href="<%= @entry.url %>" class="repo-link"><span class="lead"><%= @entry.url %></span></a>
  <p class="lead"><%= @entry.about %></p>
  <%= link_to "Back to Submissions", submissions_url %>
</div>
