<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>slashrocket | Code Launch 2015</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'icon.png' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid main">
      <div class="alert alert-info text-center lead" role="alert"><strong>Code Launch 2015 has ended! Voting will be in the <a href="https://community.slashrocket.io/c/hackathon/code-launch-2015" target="_blank">community forum</a>.</a></strong></div>
      <%= render partial: 'layouts/nprogress' %>
      <% if notice or alert %>
        <%= custom_bootstrap_flash %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
